/* Param CSS Library */
/* Created by @Lazaro_Daniel */
/* Credits to @Lazaro_Daniel */
/* Enjoy! */

body { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h4, h6 { font-family:Arial;font-weight:bold;color:#222; }
a { font-family:Arial; font-weight:bold; color:#322b2b; text-decoration:none; }
a:hover { text-decoration:underline; }
.trc { width:90%; height:1; border-bottom:1px dashed #CCC; }
.bt{ display:inline-block;padding:6px 12px;font-size:14px;line-height:20px;text-align:center;cursor:pointer;color:#333333;border:1px solid #cccccc;border-radius:4px;box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);font-family:Arial, Helvetica, sans-serif;font-weight:bold;}
.btgde{display:inline-block;padding:12px 18px;font-size:15px;line-height:28px;text-align:center;cursor:pointer;color:#444444;border:1px solid #cccccc;border-radius:4px;box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);font-family:Arial, Helvetica, sans-serif;font-weight:bold;background-image: linear-gradient(to bottom, #f2f2f2, #cacaca);}
.btazul {background-image: linear-gradient(to bottom, #5794f9, #3d7bdf);border:1px solid #3079ec;color:#FFF;}
.btazul:hover {background-image: linear-gradient(to bottom, #4a8bf8, #3375df);}
.btazul:active {background-image: linear-gradient(to bottom, #357ef8, #216adf);}
.btverm {background-image: linear-gradient(to bottom, #da4b3a, #cf3a26);border:1px solid #c53228;color:#FFF;}
.btverm:hover {background-image: linear-gradient(to bottom, #d93e2b, #ce301b);}
.btverm:active {background-image: linear-gradient(to bottom, #d8321e, #cc2610);}
.btverd {background-image: linear-gradient(to bottom, #00c4a3, #039980);border:1px solid #02846e;color:#FFF;}
.btverd:hover {background-image: linear-gradient(to bottom, #01ba9b, #008e76);}
.btverd:active {background-image: linear-gradient(to bottom, #02b194, #01866f);}
.btla {background-image: linear-gradient(to bottom, #fca251, #fb8f3d);border:1px solid #fb8f3d;color:#FFF;}
.btla:hover {background-image: linear-gradient(to bottom, #fa9942, #fa862e);}
.btla:active {background-image: linear-gradient(to bottom, #fa9336, #fb8022);}
.btbl {background-image: linear-gradient(to bottom, #5FBAFF, #13A0FF);border:1px solid #3294D5;color:#FFF;}
.btbl:hover {background-image: linear-gradient(to bottom, #55b6ff, #0a9cff);}
.btbl:active {background-image: linear-gradient(to bottom, #4bb2ff, #0098ff);}
.btroxo {background-image: linear-gradient(to bottom, #7933bf, #6e2ab1);border:1px solid #6111b0;color:#FFF;}
.btroxo:hover {background-image: linear-gradient(to bottom, #7428bf, #681fb0);}
.btroxo:active {background-image: linear-gradient(to bottom, #6f1fbf, #6214ae);}
.btblk {background-image: linear-gradient(to bottom, #363636, #252525);border:1px solid #111111;color:#898989;}
.btblk:hover {background-image: linear-gradient(to bottom, #312f2f, #201f1f);}
.btblk:active {background-image: linear-gradient(to bottom, #242222, #191717);}
.btminiblue {background-image: linear-gradient(to bottom, #5b829c, #4b738d);border:1px solid #536b7c;color:#fff;}
.btminiblue:hover {background-image: linear-gradient(to bottom, #6a8698, #59778b);}
.btminiblue:active {background-image: linear-gradient(to bottom, #5e8095, #51748b);}

.btlar {background-image: linear-gradient(to bottom, #f06938, #f1561d);border:1px solid #e35825;color:#fff;}
.btlar:hover {background-image: linear-gradient(to bottom, #ee5d28, #f04c10);}
.btlar:active {background-image: linear-gradient(to bottom, #ec5118, #ef4304);}

.form-text{ width:100%; max-width:250px; height:25px; border-radius:4px; border:1px solid #d8d8d8; color:#3C3C3C;background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);}
.form-text-green:focus { box-shadow: 0px 0px 5px 0px rgba(17,175,146,0.5); border:1px solid rgba(15,167,141,0.4); }
.form-text-red:focus { box-shadow: 0px 0px 5px 0px rgba(234,84,67,0.5); border:1px solid rgba(222,72,55,0.4); }
.form-text-alert:focus { box-shadow: 0px 0px 5px 0px rgba(254,218,42,0.5); border:1px solid rgba(242,172,32,0.4); }